.About {
  text-align: left;
  font-size: 16px;
  margin-top: 12vh;
  line-height: 1.6em;
  margin-bottom: 60px;
}

.highlight {
  position: relative;
  z-index: 1;
}

.highlight::before {
  content: '';
  z-index: -1;
  top: 8px;
  left: 6px;
  right: -6px;
  bottom: -3px;
  background-color: var(--accent);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
}

@media screen and (min-width: 760px) {
  .About {
    font-size: 24px;
  }
}