.Language input {
  display: none;
}

.Language {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  gap: 10px;
  letter-spacing: 1px;
  position: absolute;
  right: 5%;
  top: 25px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.Language label {
  cursor: pointer;
}

.Language label:has(input:checked) {
  border-bottom: 1px solid var(--font-color);
}

@media screen and (min-width: 760px) {
  .Language {
    font-size: 22px;
    right: 10%;
    top: 40px;
  }
}